.header{
    background-color: $main;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;

    .logo{
        flex: 1;
        min-width: 0px;
        img{
            height: 43px;
        }
    }
    .topbar-actions{
        display: flex;
        column-gap: 5px;
        align-items: center;
        .topbar-btn{
            padding: 7px;
            cursor: pointer;
        }
        .icon{
            font-size: 20px;
        }
        .avatar{
            cursor: pointer;
        }
    }
    .dropdown-user{
        padding: 0px;
        border-radius: 10px;
        overflow: hidden;
        .dropdown-item{
            padding: 10px;
            display: flex;
            align-items: center;
            column-gap: 7px;
            .text-m{
                flex: 1;
                min-width: 0px;
            }
        }
        .icon{
            font-size: 16px;
            color: $textD;
        }
        .dropdown-top{
            display: flex;
            column-gap: 10px;
            align-items: center;
            border-bottom: 1px solid $border;
            .avatar{
                width: 48px;
                height: 48px;
            }
            .text-content{
                flex: 1;
                min-width: 0px;
            }
            .name{
                font-weight: 500;
            }
            .mail{
                font-size: 12px;
                color: $textD;
            }
        }
    }
    .nav-toggle{
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        font-size: 24px;
        cursor: pointer;
        
    }
}

.sidebar{
    padding: 10px 0px;
    width: 240px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(#000,0.1);
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        ul{
            padding-left: 25px;
            display: none;
        }
        a{
            padding: 10px 10px;
            display: flex;
            font-weight: 500;
            column-gap: 7px;
            color: $text;
            text-decoration: none;
            align-items: center;
            position: relative;
            &:hover{
                background-color: $bg;
            }
        }

        .icon{
            font-size: 20px;
            color: $textD;
        }
        .text-m{
            flex: 1;
            min-width: 0px;
        }
        .down{
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "ap";
            cursor: pointer;
            &:before{
                content: "\ecb5";
            }

        }
        .active{
            >a{
                background-color: $bg;
                font-weight: 600;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    width: 4px;
                    border-radius: 20px;
                    background-color: $main;
                }
                .icon{
                    color: $main;
                }
            }
        }
        .open{
            >a{
                .down{
                    &:before{
                        content: "\ecb1";
                    }
                }
            }
            >ul{
                display: block;
            }
        }
    }
    @media(min-width:991px){
        &.menu-toggle{
            width: 54px;
            padding: 5px;
            .text-m{
                display: none;

            }
            .menus{
                a{
                    justify-content: center;
                    align-items: center;
                    height: 42px;
                    border-radius: 8px;
                    &:before{
                        display: none;
                    }
                }
                .active{
                    >a{
                        background-color: $main;
                        color: #fff;
                        .icon{
                            color: #fff;
                        }

                    }
                }
            }
            .down{
                display: none;
            }
        }
    }
    @media(max-width:991px){
        top: 0px;
        left:0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 100;
        position: fixed !important;
        &.menu-toggle{
            left: 0px;
            opacity: 1;
            transition: all 0.3s ease;
            visibility: visible;

            
        }
    }

}