$main:#00A664;
$text:#082555;
$bg:#F7F7F8;
$textD:#89909f;
$border:#ccd7e3;
$border1:#E7EEF8;
$success:#00A664;
$warning:#FF7D04;
$danger:#EE3108;
$info:#0B8AFF;
$chartE:#CD59B1;
$red:#ED1919;
$font-small:12px;
$font-default:14px;
$font-large:16px;
$font-big:20px;
:root{
    --main:#00A664;
    --text:#082555;
    --bg:#F7F7F8;
    --textD:#89909f;
    --border:#ccd7e3;
}